body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #E0F7FA;
}

header {
    background: #FF6F61;
    color: black;
    padding: 20px;
    text-align: center;
}

p {
font-size: medium;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #4B0082;
    text-decoration: none;
}

section {
    padding: 20px;
    text-align: center;
}

.project {
    border: 2px solid #4B0082;
    padding: 10px;
    border-radius: 5px;
    margin: auto;
    width: 70%;
}

.project2 {
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;
    margin: auto;
    width: 50%;
}

.center2 {
    margin: auto;
    width: 60%;
    padding: 10px;
  }

footer {
    text-align: center;
    padding: 20px;
    background: #FF6F61;
    color: black;
    position: relative;
    bottom: 0;
}

#wrapper {
    width: 90%;
    min-width: 600px;
    max-width: 1200px;
    margin: 1em auto;
    background-color: #cee9f7;
    padding: 0;
    border-radius: 3px;
 }

@media (max-width: 600px) {
    header h1 {
        font-size: 24px;
    }
}
